body {
    font-family: "Inter", sans-serif;
}

.w-full {
margin: 0.5rem;
margin-top: 8px !important;
}

.mt-12 {
    margin-top: 0rem !important;
}

.py-4 {

    padding-bottom: 0.5rem !important;
    margin: 5px !important;
    padding: 15px !important;
}

.w-full {
    margin: 0.5rem;
}

.mt-5, .my-5 {
    margin-top: 0rem!important;
}


